# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/main/resources/assets/base/models/item/wrench.json
logs/debug.log
logs/latest.log
libs/AppleCore-mc1.12.2-3.4.0.jar
