#From https://github.com/ProjectHDS/HerodotusUtils/blob/main/.github/workflows/build.yml

name : build

on:

  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build

    - name: Run build.sh
      run: bash build.sh

    - name: Upload a Build Artifact.
      uses: actions/upload-artifact@v2.2.2
      with:
        name: atutils-build
        path: artifacts

  deploy:

    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download the Build Artifact
        uses: actions/download-artifact@v2
        with:
          name: atutils-build
          path: artifacts

      - name: Checkout AutoTech modpack repo
        uses: actions/checkout@v2
        with:
          repository: Project-AT/AutoTech
          path: modpack

      - name: Move this mod to AutoTech modpack repo
        run: |
          rm -f $GITHUB_WORKSPACE/modpack/.minecraft/mods/*
          mv -f $GITHUB_WORKSPACE/artifacts/* $GITHUB_WORKSPACE/modpack/.minecraft/mods/
      - name: Commit this mod to AutoTech modpack repo
        uses: EndBug/add-and-commit@v7
        with:
          branch: main
          author_name: superhelo
          author_email: xiaohaluo@qq.com
          message: "Update AutoTech Utils Mod"
          cwd: ./modpack
